<template>
  <div>
    <b-form
      @submit="onSubmit"
      @reset="resetForm"
    >
      <b-form-group
        label="Name:"
        class="mb-2"
      >
        <b-form-input
          v-model="form.name"
          type="text"
          placeholder="Enter Name"
        ></b-form-input>
      </b-form-group>

      <b-form-group
        label="E-mail:"
        class="mb-2"
      >
        <b-form-input
          v-model="form.email"
          type="text"
          placeholder="Enter E-mail"
        ></b-form-input>
      </b-form-group>

      <b-form-group
        label="Phone:"
        class="mb-2"
      >
        <b-form-input
          v-model="form.phone"
          type="number"
          pattern="[0-9]*"
          placeholder="Enter Phone"
        ></b-form-input>
      </b-form-group>

      <b-form-group
        label="Message:"
        class="mb-2"
      >
        <b-form-textarea
          v-model="form.message"
          placeholder="Enter Message"
          rows="3"
        ></b-form-textarea>
      </b-form-group>

      <b-form-group
        label="Start Date:"
        class="mb-2"
      >
        <b-form-input
          v-model="form.start_date"
          type="datetime-local"
          placeholder="Enter Start Date"
        ></b-form-input>
      </b-form-group>

      <b-form-group
        label="End Date:"
        class="mb-2"
      >
        <b-form-input
          v-model="form.end_date"
          type="datetime-local"
          placeholder="Enter End Date"
        ></b-form-input>
      </b-form-group>

      <b-form-group class="mb-2">
        <b-form-checkbox
          switch
          id="checkbox-1"
          v-model="form.need_on_site_service"
          :value="`1`"
          :unchecked-value="'0'"
          name="checkbox-1"
        > <span class="ml-2">Need On Site Service</span></b-form-checkbox>
      </b-form-group>

      <b-form-group
        label="Address:"
        class="mb-2"
      >
        <b-form-textarea
          v-model="form.address"
          placeholder="Enter Address"
          rows="3"
        ></b-form-textarea>
      </b-form-group>

      <template v-if="validate">
        <div
          v-for="(item, index) in validate"
          :key="`validate-${index}`"
          class="mb-2"
        >
          <div
            class="text-danger"
            v-for="(message,i) in item"
            :key="`validate-message-${i}}}`"
          >
            {{ message }}
          </div>
        </div>
      </template>
      <template v-if="submitSuccess">
        <div class="text-success mb-2">
          Submit Successfully!!
        </div>
      </template>
      <b-button
        type="submit"
        variant="primary"
      >Submit</b-button>
      <b-button
        type="reset"
        variant="danger"
      >Reset</b-button>
    </b-form>
  </div>
</template>

<script>
export default {
  data () {
    return {
      form: {
        name: '',
        email: '',
        phone: '',
        message: '',
        start_date: '',
        end_date: '',
        need_on_site_service: 0,
        address: '',
      },
      validate: null,
      submitSuccess: false
    }
  },
  methods: {
    resetForm () {
      this.form = {
        name: '',
        email: '',
        phone: '',
        message: '',
        start_date: '',
        end_date: '',
        need_on_site_service: 0,
        address: '',
      }
      this.validate = null
      this.submitSuccess = false
    },
    async onSubmit (event) {
      event.preventDefault()
      this.validate = null
      this.submitSuccess = false
      await axios.post('/contact', this.form)
        .then((response) => {
          if (response.data.status === 'success') {
            this.submitSuccess = true
          }
        })
        .catch((error) => {
          if (error.response.data.status === 'validate fail') {
            this.validate = error.response.data.message
          }
        });

    },
  }
}
</script>